* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Robotobold.ttf");
    font-weight: bold;
}

.logo-img {
    width: 130px;
    height: 100px;
}

body {
    font-family: Roboto, sans-serif;
}

.header {
    border-bottom: 1px solid #e5e5e5;
    padding: 25px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.header .container {
    display: flex;
    align-items: center;
}

.logo img {
    vertical-align: bottom;
}

.menu {
    margin-left: 244px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu-item {
    margin-right: 115px;

}

.menu-item a {
    font-size: 20px;
    color: #030305;
    text-decoration: none
}


.menu-item a:hover {
    border-bottom: 2px solid red;

}


.main {
    position: relative;
    overflow: hidden;
    margin: 100px 0 180px 0;
}

.main__background-main {
    background-image: url(../images/stambul2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 900px;
    height: 900px;
    position: absolute;
    right: 0;
    top: -50px;
    z-index: -1;
}

.main-info {
    max-width: 855px;
}

.main-title {
    margin-bottom: 100px;
    font-weight: bold;
    font-size: 70px;
    line-height: 110%;
    color: red;
    margin-bottom: 40px;
    text-shadow: 1px 1px 1px #000;
}

.main-text {
    font-size: 25px;
    line-height: 130%;
    color: red;
    margin-bottom: 40px;
    max-width: 502px;
    text-shadow: 1px 1px 0.5px #000;
}

.me {
    background-image: url(../images/muzhchina.jpg);
    background-position: left;
    background-repeat: no-repeat;
    padding: 130px 0 50px 0;
    margin: 100px 0;
    background-size: 400px 400px;
}

.about-me {
    font-weight: bold;
    font-size: 50px;
    line-height: 70px;
    color: #030305;
    margin: 10px 0 20px 0;
}

.about-me-title {
    font-weight: bold;
    font-size: 26px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #030305;
    padding: 15px 0 17px 0;
    padding: 0 250px 0 250px;
}

.about-me-box {
    text-align: center;
}

.contact {
    overflow: hidden;
}

.contact-image {
    width: 300px;
    height: 100px;
    margin: 100px 150px auto 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-image__logo-link {
    
}

.contact-image__logo-link_ytube {
}

.sub-title {
    text-align: center;
    font-size: 44px;
    color: black;
    padding-top: 50px;
}

.block-contact {
    background-color: white;
    border-top: 1px solid #e5e5e5;
    height: 550px;
    position: relative;
    z-index: 0;
}

.contact__background-image {
    background-image: url(../images/Izmir.png);
    background-size: contain;
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.price .container {
    position: relative;
    padding-bottom: 150px;
}

.price .sub-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
}


.price-form {
    max-width: 344px;
}


.price .button {
    width: 100%;
}

.price-contact {
    position: absolute;
    bottom: 0;
    left: 401px;
}